<div class="row my-2">
  <div class="col-4">
    <h1>Event data</h1>
  </div>
  <div class="col-4">
    <h1>average rp: <strong id="average-rp">0</strong></h1>
  </div>
  <div class="col-4">
    <h1 id="rank">Rank: <%= @rank %></h1>
  </div>
</div>
<button onclick="update()">Update data</button>
<% @matches.each_slice(6) do |match_group| %>
  <div class="row my-2">
    <% match_group.each do |match| %>
      <div class="col-2">
        <p><strong><%= match[:match_num] %></strong></p>
        <% time = match[:start_time] %>
        <p><%= "#{time.strftime "%A %R"}" %></p>  
        <p>Scores: <strong id="score-<%= match[:match_num] %>-Red" style="color: red"><%= match[:teams][0][:score] %></strong> - <strong id="score-<%= match[:match_num] %>-Blue" style="color: blue"><%= match[:teams][1][:score] %></strong></p>
        <% match[:teams].each do |m| %>
          <div style="color: <%= m[:alliance].downcase %>">
            <p><%= m[:team_num] %> RP: <strong id="rp-<%= "#{m[:team_num]}-#{match[:match_num]}" %>"><%= m[:rp] %></strong></p>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>

<script type="text/javascript">
  function update() {
    let arp = 0
    let len = 0
    axios.get(`${window.location.origin}/update`).then((response) => {
      console.log(response)
      response["data"][0].forEach(match => {
        match["teams"].forEach(team => {
          if (team['team_num'] == 461){
            arp += team['rp']
            len++
          }
          let element = document.getElementById(`rp-${team['team_num']}-${match['match_num']}`)
          element.innerHTML = team['rp']
          element = document.getElementById(`score-${match['match_num']}-${team['alliance']}`)
          element.innerHTML = team['score']
        })
      })
      document.getElementById("average-rp").innerHTML = (Math.round((arp/len) * 100) / 100).toFixed(2)
    })
  }
</script>